@import url(global.css);

body {
    background-color: var(--color-white);
}

header {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    align-items: center;
}

.nav-header ul {
    display: flex;
    gap: 40px;
    list-style: none;
    align-items: center;
}

.nav-header-item-active {
    color: var(--color-blue);
    text-decoration: none;
    font-family: var(--font-family);

}

.nav-header-item {
    color: var(--color-black);
    text-decoration: none;
    font-family: var(--font-family);

}

.btn-header {
    padding: 8px 24px;
    background-color: var(--color-blue);
    border-radius: 6px;
    color: var(--color-white);
    font-family: var(--font-family);
    text-decoration: none;
    font-size: var(--font-body2);

}



main {
    border-top: 0.5px solid;
    display: flex;
    padding: 50px 75px;
    gap: 50px;
    width: 1277px;
    background-color: var(--color-blue10);
    align-items: center;

}



.main-content {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.main-content h1 {
    font-size: var(--font-h1);
    font-weight: bold;
    width: 515px;
    line-height: 175%;
    color: var(--color-black);
    font-family: var(--font-family);
}

.main-content span {
    color: var(--color-blue);

}

.main-content p {
    display: flex;
    color: var(--color-gray);
    gap: 30px;
    font-size: var(--font-body);
    font-family: var(--font-family);
}

.btn-about {
    display: flex;
    gap: 10px;
}

.btn-contact {
    padding: 8px 55px;
    background-color: var(--color-blue);
    border-radius: 10px;
    text-decoration: none;
    color: var(--color-white);
    font-family: var(--font-family);
}

.btn-more {
    border: 1px solid var(--color-blue);
    border-radius: 10px;
    background-color: var(--color-white);
    padding: 8px 55px;
    text-decoration: none;
    color: var(--color-blue);
    font-family: var(--font-family);

}

.section-service {
    display: flex;
    padding: 30px 54px;
    border-bottom: 0.5px solid var(--color-gray);
    width: 1277px;
}

.service-container {
    display: flex;
    gap: 35px;
}

.web-card {
    align-items: center;
    display: flex;
    gap: 15px;
}


.web-card h4 {
    font-weight: bold;
    font-size: var(--font-h4);
    font-family: var(--font-family);
}

.web-card p {
    font-size: var(--font-body2);
    font-family: var(--font-family);
}



.lorem-title {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
}

.lorem-title p{
    width: 665px;
}

.section-mobile {
    padding: 80px;
}




.lorem-title h2 {
    font-family: var(--font-family);
    font-size: var(--font-h2);
    display: flex;
}

.lorem-title h2 {
    font-family: var(--font-family);
    font-size: var(--font-h2);
    display: flex;
}

.lorem-title p {
    font-size: var(--font-body);
    font-family: var(--font-family);
    color: var(--color-gray);
}



.lorem-mobile {
    margin-top: -5px;
    margin-bottom: 50px;
    gap: 60px;
    display: flex;
}


.lorem-text h4 {
    font-family: var(--font-family);
    font-size: var(--font-h4);

}

.lorem-text p {
    font-family: var(--font-family);
    font-size: var(--font-body2);
    color: var(--color-gray);

}



.lorem-about-title span {
    font-family: var(--font-family);
    color: var(--color-blue);
    font-size: var(--font-h3);
}

.lorem-about-title h3 {
    width: 516px;
    font-family: var(--font-family);
    font-size: var(--font-h3);

}

.section-mobile {
    padding: 80px 100px;
}


.lorem-title {
    text-align: center;
    margin-bottom: 80px;
}

.lorem-title h2 {
    font-size: var(--font-h2);
    font-family: var(--font-family);
    font-weight: bold;
    color: var(--color-black);
}

.lorem-title p {
    font-size: var(--font-body);
    font-family: var(--font-family);
    color: var(--color-gray);
    max-width: bold;
    line-height: 1.6;
}


.lorem-mobile {
    display: flex;
    align-items: center;

}

/* Texto do lado esquerdo */
.lorem-content {
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
    padding: 84px 0px;
}

/* Ícone + título pequeno */
.lorem-text {
    display: flex;
    align-items: center;
    gap: 25px;
}


.lorem-text h4 {
    font-size: var(--font-h4);
    font-family: var(--font-family);
    font-weight: bold;
}

.lorem-text p {
    font-size: var(--font-body2);
    color: var(--color-gray);
}

/* Título grande com parte azul */
.lorem-about-title {
    display: flex;
    align-items: center;
    gap: 8px;
}


.lorem-about-title span {
    color: var(--color-blue);
    font-family: var(--font-family);
    font-size: var(--font-h3);
    font-weight: bold;
}

.lorem-about-title h3 {
    font-family: var(--font-family);
    font-size: var(--font-h3);
    font-weight: bold;
}




.lorem-about-text p {
    color: var(--color-gray);
    font-family: var(--font-family);
    font-size: var(--font-body);
    width: 445px;
}

.box1 {
    padding: 58px 48px;
    background-color: #F4F4F4;
    border-radius: 18px;
}

.box1-conteiner {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;
    font-family: var(--font-family);
}

.box1-conteiner h3 {
    width: 365px;
    font-size: var(--font-h3);
    text-align: center;
    display: flex;
}

.box1-conteiner p {
    color: var(--color-gray);
    width: 458px;
}

.box1-conteiner button {
    text-decoration: none;
    padding: 10px 35px;
    background-color: var(--color-blue);
    border-radius: 10px;
    font-family: var(--font-family);
    color: var(--color-white);
}

.box2 {
    padding: 58px 48px;
    border-radius: 18px;
    background-color: var(--color-blue);
}

.box2-conteiner {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 35px;
    font-family: var(--font-family);
}

.box2-conteiner h3 {
    width: 365px;
    font-size: var(--font-h3);
    text-align: center;
    color: var(--color-white);
    display: flex;
}

.box2-conteiner p {
    color: var(--color-white);
    width: 458px;
}

.box2-conteiner button {
    padding: 10px 35px;
    font-family: var(--font-family);
    background-color: var(--color-white);
    border-radius: 10px;
    color: var(--color-blue);
}

.box-global {
    justify-content: center;
    margin-top: 140px;
    display: flex;
    gap: 20px;
}


.section-company {
    margin-top: -60px;
    width: 1278px;
    padding: 144px 80.5px 147px 147px;
}

.section-company h3 {
    margin-bottom: 20px;
    font-size: var(--font-h3);
    display: flex;
    justify-content: center;
    font-family: var(--font-family);
}

.section-company-container {
    display: flex;
    justify-content: space-between;
    margin-right: 30px;

}

.lorem-contact{
    padding: 140px 400px;
    display: grid;
    gap: 80px;
    background-color: var(--color-blue10);
}

.lorem-contact h2{
    text-align: center;
    width: 478px;
    font-size: var(--font-h2);
    font-family: var(--font-family);

}

.lorem-contact-container{
    display: flex;
    margin-left: -130px;
    gap: 14px;
}

.lorem-contact-container input{
    width: 532px;
    padding-left: 20px;
    height: 67px;
    font-family: var(--font-family);
    border-radius: 10px;

}

.lorem-contact-container button{
    background-color: var(--color-black);
    color: var(--color-white);
    font-family: var(--font-family);
    border-radius: 10px;
    padding: 20px 44px;
}

.footer-global{

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 99px;
}

.lorem-logo{
    margin-top: -13px;
    display: grid;
    color: var(--color-gray);
    font-family: var(--font-family);
    gap: 20px;
}

.lorem-logo p{
    width: 268px;
    font-size: var(--font-body2);
}

.lorem-about-us{
    
    font-family: var(--font-family);
    padding: 15px 41px;
    width: 261px;
}
.lorem-about-us a{
    display: block;
    color: var(--color-gray);
    margin-bottom: 5px;
    text-decoration: none;
}

.lorem-about-us h4{
    font-size: var(--font-h4);
    margin-bottom: 15px;
    font-weight: bolder;
    width: 85px;
}

.lorem-contact-us{
    display: flex;
    margin-top: -45px;
    flex-direction: column; 
    font-family: var(--font-family);
}

.lorem-contact-us h4{
    width: 120px;
    font-size: var(--font-h4);
    font-weight: bolder;
    margin-bottom: 15px;
}

.lorem-contact-us p{
    font-size: var(--font-body2);
    color: var(--color-gray);

}

.lorem-socialmedia{
  display: flex;
  margin-top: -105px;
  align-items: end;
  justify-content: flex-end;
}